.torero-perfil-container {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.torero-perfil-img {
  width: 320px;
  height: 340px;
  object-fit: cover;
  border-radius: 14px;
  margin-bottom: 20px;
}

.torero-perfil-nombre {
  font-size: 26px;
  color: #ffd34e;
  font-weight: bold;
  margin-bottom: 10px;
}

.torero-perfil-info {
  color: white;
  font-size: 15px;
}
