.ganaderias-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 120px; /* BAJADO */
}

.ganaderias-grid {
  display: grid;
  grid-template-columns: repeat(5, 210px);
  gap: 26px;
  justify-content: center;
}

.ganaderia-card {
  width: 210px;
  height: 280px;
  background: rgba(0,0,0,0.55);
  border-radius: 14px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: white;
}

.ganaderia-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.ganaderia-nombre {
  font-size: 15px;
  font-weight: bold;
  color: #ffd34e;
}
