.aula-container,
.aula-detalle-container {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.aula-title {
  font-size: 28px;
  font-weight: bold;
  color: #ffd34e;
  margin-bottom: 10px;
}

.aula-sub {
  color: white;
  margin-bottom: 20px;
}

.aula-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 22px;
}

.aula-card {
  width: 260px;
  background: rgba(0,0,0,0.45);
  padding: 12px;
  text-decoration: none;
  border-radius: 12px;
}

.aula-img {
  width: 100%;
  height: 150px;
  border-radius: 12px;
  object-fit: cover;
}

.aula-info {
  text-align: left;
}

.aula-nombre {
  color: #ffd34e;
  font-weight: bold;
  font-size: 16px;
}

/* DETALLE */

.aula-detalle-img {
  width: 90%;
  max-width: 700px;
  border-radius: 12px;
}

.aula-detalle-desc {
  width: 75%;
  color: white;
  font-size: 16px;
}

.aula-section-title {
  color: #ffd34e;
  font-size: 20px;
  font-weight: bold;
}

.aula-lecciones {
  list-style: none;
  padding: 0;
}

.aula-leccion-item {
  background: rgba(0,0,0,0.35);
  padding: 10px;
  border-radius: 8px;
  color: white;
  margin-bottom: 8px;
}
