.feria-detalle {
  padding: 40px;
  color: white;
  max-width: 900px;
  margin: auto;
  text-align: center;
  z-index: 3;
}

.feria-detalle-img {
  width: 100%;
  max-height: 320px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 25px;
}

.feria-nombre {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #e7c36f;
  text-shadow: 2px 2px 3px black;
}

.feria-subtitulo {
  font-size: 1.2rem;
  opacity: 0.85;
  margin-bottom: 25px;
}

.feria-descripcion {
  font-size: 1rem;
  line-height: 1.55;
  color: #ddd;
  text-align: justify;
  margin-top: 15px;
  white-space: pre-line;
}
