.feria-card {
  width: 240px;
  background: rgba(0, 0, 0, 0.55);
  border-radius: 12px;
  padding: 12px;
  transition: 0.25s ease;
  cursor: pointer;
}

.feria-card:hover {
  transform: translateY(-5px);
}

.feria-img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 10px;
}

.info {
  text-align: center;
  color: #fff;
}

.title {
  font-size: 1.05rem;
  font-weight: 700;
}

.subtitle {
  font-size: 0.80rem;
  opacity: 0.85;
}

.descripcion {
  font-size: 0.78rem;
  opacity: 0.75;
}
