.torero-card {
  width: 220px;
  background: rgba(15, 15, 15, 0.78);
  border-radius: 12px;
  padding: 12px;
  border: 2px solid black;
  text-align: center;
}

.torero-img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
}

.torero-nombre {
  font-size: 1.2rem;
  color: #ffd86b;
  font-weight: bold;
}

.torero-apodo {
  font-size: 0.9rem;
  color: #ffffff;
  opacity: 0.9;
}
