.detalle-container {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.detalle-img {
  width: 60%;
  max-width: 500px;
  border-radius: 14px;
  margin-bottom: 20px;
}

.detalle-titulo {
  font-size: 26px;
  font-weight: bold;
  color: #ffd34e;
}

.detalle-sub {
  color: white;
  font-size: 16px;
}
