.detalle-container {
  width: calc(100% - 150px);
  margin-left: 150px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detalle-card {
  width: 70%;
  background: rgba(30,30,30,0.85);
  border-radius: 14px;
  border: 3px solid rgb(168,50,40);
  padding: 30px;
  text-align: center;
}

.detalle-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid rgb(168,50,40);
}

.detalle-title {
  font-size: 38px;
  color: #d4a017;
  text-shadow: 1px 1px 2px black;
}

.detalle-sub {
  font-size: 22px;
  color: #c87a3c;
  text-shadow: 1px 1px 2px black;
}

.detalle-desc {
  font-size: 18px;
  color: #e4dcbc;
  line-height: 1.4;
}
