.carousel-container {
  width: 100%;
  height: 420px;
  position: relative;
  overflow: hidden;
  border: 1px solid #c49b3b; /* BORDE AMARILLO */
}

.carousel-fade {
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 2.8s ease-in-out;
}

.carousel-img.active {
  opacity: 1;
}
