.vip-container,
.vip-detalle-container {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.vip-title {
  font-size: 28px;
  font-weight: bold;
  color: #ffd34e;
  margin-bottom: 10px;
}

.vip-sub {
  color: white;
  margin-bottom: 20px;
}

.vip-grid {
  display: flex;
  justify-content: center;
  gap: 22px;
  flex-wrap: wrap;
}

.vip-card {
  width: 260px;
  background: rgba(0,0,0,0.45);
  padding: 12px;
  border-radius: 12px;
  text-decoration: none;
}

.vip-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
}

.vip-info {
  text-align: left;
  margin-top: 10px;
}

.vip-nombre {
  color: #ffd34e;
  font-weight: bold;
  font-size: 16px;
}

.vip-precio {
  color: white;
  font-size: 14px;
}

/* DETALLE */

.vip-detalle-img {
  width: 90%;
  max-width: 700px;
  border-radius: 12px;
  margin: 20px auto;
}

.vip-detalle-precio {
  font-size: 24px;
  color: #ffd34e;
  margin-bottom: 20px;
}

.vip-section-title {
  font-size: 20px;
  color: #ffd34e;
  margin-top: 20px;
  font-weight: bold;
}

.vip-beneficios {
  list-style: none;
  padding: 0;
  margin: 10px auto;
  width: 70%;
}

.vip-beneficio {
  background: rgba(255,255,255,0.15);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 8px;
  color: white;
}

.vip-btn {
  margin-top: 20px;
  padding: 12px 24px;
  background: #ffd34e;
  border: none;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
