.faena-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}

.faena-card {
  padding: 30px;
  border-radius: 18px;
  background: rgba(0,0,0,.6);
  border: 1px solid rgba(196,155,59,.4);
  transition: .25s;
}

.faena-card:hover {
  transform: scale(1.05);
}

.faena-card h3 {
  color: #ff9f43;
}

.cuota {
  display: block;
  color: #fff;
}

.faena-card button {
  background: transparent;
  border: 1px solid #f7d376;
  color: #f7d376;
  padding: 10px 18px;
  border-radius: 22px;
  cursor: pointer;
}
