.detalle-wrapper {
  width: calc(100% - 150px);
  margin-left: 150px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detalle-contenedor {
  width: 620px;
  background: rgba(20,20,20,0.78);
  padding: 25px;
  border-radius: 14px;
  border: 3px solid rgb(168,50,40);
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.detalle-img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
  border: 3px solid rgb(168,50,40);
  margin-bottom: 15px;
}

.detalle-titulo {
  font-size: 32px;
  font-family: "Times New Roman", serif;
  color: #d4a017;
  margin-bottom: 6px;
  text-shadow: -2px 0 #000, 2px 0 #000;
}

.detalle-subtitulo {
  font-size: 20px;
  font-family: "Times New Roman", serif;
  color: #f0e6c9;
  margin-bottom: 12px;
  text-shadow: -1px 0 #000, 1px 0 #000;
}

.detalle-texto {
  font-size: 18px;
  color: #e4dcbc;
  font-family: Georgia, serif;
  line-height: 1.4;
  text-shadow: -1px 0 #000, 1px 0 #000;
}
