.shop-container,
.shop-detalle-container {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.shop-title {
  font-size: 28px;
  font-weight: bold;
  color: #ffd34e;
}

.shop-sub {
  color: white;
  margin-bottom: 20px;
}

.shop-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 22px;
}

.shop-card {
  width: 260px;
  background: rgba(0,0,0,0.45);
  padding: 12px;
  text-decoration: none;
  border-radius: 12px;
}

.shop-img {
  width: 100%;
  height: 150px;
  border-radius: 12px;
  object-fit: cover;
}

.shop-info {
  text-align: left;
}

.shop-name {
  color: #ffd34e;
  font-weight: bold;
  font-size: 16px;
}

.shop-price {
  color: white;
  font-size: 14px;
}

.shop-detalle-img {
  width: 90%;
  max-width: 700px;
  border-radius: 12px;
}

.shop-detalle-price {
  font-size: 24px;
  color: #ffd34e;
}

.shop-detalle-desc {
  color: white;
  width: 75%;
  font-size: 16px;
}

.shop-add-btn {
  padding: 12px 24px;
  background: #ffd34e;
  border: none;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
