/* CONTENEDOR GENERAL FIJO */
.app-container {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
}

/* CONTENIDO PRINCIPAL GENERAL */
.main-content {
  flex: 1;
  padding: 120px 20px 40px 20px;
  overflow-y: auto;
  position: relative;
  z-index: 3;
}
