.ganaderias-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding-top: 40px;
}

.ganaderia-card {
  width: 300px;
  height: 420px;
  background: rgba(0,0,0,0.55);
  border-radius: 12px;
  padding: 10px;
  text-align: center;
}

.ganaderia-img {
  width: 280px;
  height: 180px;
  object-fit: contain;
  background: #0003;
  border-radius: 8px;
  border: 2px solid goldenrod;
}

.ganaderia-nombre {
  margin-top: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #E6C75A;
}
