.layout-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.layout-center {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.layout-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px 40px;
  z-index: 3;
}
